*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f0310;
    /* Cor de fundo do cabeçalho */
    padding: 20px 50px;
}

.header-logo img {
    width: 150px;
    /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    display: block;
}

.header-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
    /* Espaçamento entre os links do menu */
}

.header-menu ul li a {
    color: #fff;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-menu ul li a:hover {
    color: #f4a261;
    /* Cor ao passar o mouse */
}

body {
    height: 100%;
    background-color: #1f2029;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 50%;
    width: 50%;
}

.slide-list {
    display: flex;
}

.slide-item {
    flex-shrink: 0;
    padding: 0 10px;
    width: 25vw;
}

.slide-content {
    border-radius: 5px;
    border: 2px solid #ffff;
    position: relative;
}

.slide-image {
    border-radius: 5px;
    width: 100%;
}

.slide-description {
    background: linear-gradient(to top, #000, transparent);
    color: #ffff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;
}

.slide-description h3 {
    font-family: "Koulen", sans-serif;
    font-size: 24px;
    position: relative;
    top: 6px;
}

.slide-description p {
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
}
.sobre {
    color: #fff;
}

.sobre h1 {
    font-family: "Koulen", sans-serif;
    font-size: 48px;
    position: relative;
    top: 6px;
}

.sobre h2{
    font-family: "Koulen", sans-serif;
    font-size: 36px;
    position: relative;
    top: 6px;
}

.sobre h3{
    font-family: "Koulen", sans-serif;
    font-size: 28px;
    position: relative;
    top: 6px;
}

.sobre p{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    text-align: justify;
}

.sobre-projeto {
    background-color: #1f0310;
}

.sobre-escola {

}

.sobre-alunos {
    background-color: #1f0310;
}

.sobre-copa2026 {

}

.sobre-copa2022 {
    background-color: #1f0310;
}

.sobre-copa2018 {
    
}

.sobre-copa2014 {
    background-color: #1f0310;
}

.sobre-copa2010 {
    
}

.sobre-copa2006 {
    
}

.sobre-copa2002 {
    background-color: #1f0310;
}




