*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #1f2029;
}

.conteudo-index {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

.conteudo-index h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

.conteudo-index p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    bottom: 16px;
}

.conteudo-projeto {
    text-align: justify;
    color: #fff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

.conteudo-escola {
    text-align: justify;
    color: #fff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    bottom: 16px;
}

.conteudo-copa2002 {
    text-align: justify;
    color: #fff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    bottom: 16px;
}

.conteudo-quadro1 {
    display: flex;
    justify-content: space-between;
}

.conteudo-quadro2 {
    display: flex;
    justify-content: space-between;
}

.img-estadio {
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: #070707 0px 12px 12px;
    position: relative;
    margin: 16px 16px 16px 16px;
}

.img-campeao {
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: #070707 0px 12px 12px;
    position: relative;
    margin: 16px 16px 16px 16px;
}