*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #1f2029;
}

.conteudo-index {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;   
    margin-top: 0; 
}

.conteudo-index h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

.conteudo-index p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    bottom: 16px;
}

.conteudo-projeto {
    text-align: justify;
    color: #fff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;   
    margin-top: 0; 
}

.conteudo-escola {
    text-align: justify;
    color: #fff;
    position: relative;
    padding: 30px;
    bottom: 0;
    width: 100%;   
    margin-top: 0; 
}

h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    bottom: 16px;
}